/*
Color Pallette
Dark Khaki: #A47C4A rgba(164, 124, 74, 1)
Rosy Brown : #C2BB9D rgba(194, 187, 157, 1)
Dark Olive Green: #3F322A rgba(63, 50, 42, 1)
Gray: #87816E rgba(135, 129, 110, 1)
Dark Sea Green: #989E8C rgba(152, 158, 140, 1)

Fonts
font-family: 'Abel', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
/*overall style*/
body {
  background-color: #3F322A;
  background-image: url('./images/low-contrast-linen.png');
  background-repeat: repeat;

	color: #A47C4A;
	padding-top: 60px;
	font-family: 'Dosis', sans-serif;
	display: flex;
  justify-content: center;
  align-items: center;
}
.ptags {
	font-family: 'Montserrat', sans-serif;
	color: #C2BB9D;
}
.about .projects .contact{
	display: none;
}

.footer {
	position: absolute;
	bottom: 0;
}
.icons {
  height: 35px;
  width: 35px;
}
.empty{
  height: 75px
}

/*project div*/
.projStyle {
  height: 250px;
  width: 250px;
  margin: 3px;
  background-color: #87816E;
}

.projButton {
  background-color: #87816E; 
  border: none;
}

#trailImg {
  margin-top: 65px;
  background-color: #87816E; 
  border: none;
}

.modal-content {
  background-color: #87816E ;
  background-image: url('./images/asfalt-light.png');
  color: #3F322A ;
}
#siteLink {
  color:white ;
}
/*end of project div*/

/*about div*/
.lang {
  color: #87816E;
}
.projectText{
    margin-top: 3rem;
}
.projectText h5 {
  /*font-size: 5rem;*/
  text-align: center;
  color: #C2BB9D;
}
/*end of about div*/
/*contact div*/
.form-control {
  background-color: #C2BB9D;

}
.form-control:focus {
  background-color: #C2BB9D;
  border: none;
}
.alert {
  visibility: hidden;
  color:#C2BB9D;
}
/*end contact div*/

/*Animations*/
.neons {
   margin-top: 3rem;
   text-align: center;
}

.neons h4 {
  font-size: 5rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #A47C4A;
      text-shadow: 0 0 10px #d5bea2, 0 0 20px #d5bea2, 0 0 30px #d5bea2, 0 0 40px #d5bea2;
    /*text-shadow: 0 0 10px #d5bea2, 0 0 20px #d5bea2, 0 0 30px #d5bea2, 0 0 40px #d5bea2, 0 0 50px #d5bea2, 0 0 60px #d5bea2, 0 0 70px #d5bea2, 0 0 90px #d5bea2;*/
  }
  
  to {
     color: #87816E;
     /*text-shadow: 0 0 20px #d5bea2, 0 0 30px #d5bea2, 0 0 40px #d5bea2, 0 0 50px #d5bea2;*/
    text-shadow: 0 0 20px #d5bea2, 0 0 30px #d5bea2, 0 0 40px #d5bea2, 0 0 50px #d5bea2, 0 0 60px #d5bea2, 0 0 70px #d5bea2, 0 0 80px #d5bea2, 0 1 90px #d5bea2;
  }
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/*End of Animations*/



