/*
Color Pallette
Dark Khaki: #A47C4A rgba(164, 124, 74, 1)
Rosy Brown : #C2BB9D rgba(194, 187, 157, 1)
Dark Olive Green: #3F322A rgba(63, 50, 42, 1)
Gray: #87816E rgba(135, 129, 110, 1)
Dark Sea Green: #989E8C rgba(152, 158, 140, 1)

Fonts
font-family: 'Abel', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
/*overall style*/
body {
  background-color: #3F322A;
  background-image: url('./images/low-contrast-linen.png');
  background-repeat: repeat;
  color: #A47C4A;
/*  padding-top: 60px;*/
  font-family: 'Dosis', sans-serif;
}
nav {
  background-color: rgba(135, 129, 110, .7);
}
.navbar-dark .navbar-brand{
  color:#989E8C;
}
.about, .projects, .contact{
  display: none;
}
.icons {
  height: 35px;
  width: 35px;
}
.wrapper {
  margin-top: 75px;
}
/*homePage*/
.aboutSec:hover {
  cursor: pointer;
}

/*About*/
.about h5 {
  font-family: 'Montserrat', sans-serif;
}
.about h2 {
  color: #989E8C;
  padding-bottom: 10px;
}

.lang {
  color: #87816E;
}
.projSec:hover {
  cursor: pointer;
}
#self{
  border: 0.5rem outset #A47C4A;
}

/*project*/

.projButton:hover {
	cursor: pointer;
}
.thumbs {
  padding-bottom: 35px;
}
.leftThumb{
  margin-right: 135px;
}
.projButton {
  height: 200px;
  width: 200px;
  background-color: #989E8C;
  border: .5rem outset #A47C4A;
}
#trail {
  margin-top: 55px;
  margin-left: 10px;
  max-width: 170px;
  background-color: #989E8C; 
  border: none;
  align-content: center
}
/*#trail:hover {
  cursor: pointer;
}*/
.modal-content {
  background-color: #87816E ;
  background-image: url('./images/asfalt-light.png');
  color: #3F322A ;
}
#siteLink {
  color:white ;
}


/*contact div*/
.form-control {
  background-color: #C2BB9D;
}
.form-control:focus {
  background-color: #C2BB9D;
  border: none;
}
.alert {
  visibility: hidden;
  color:#C2BB9D;
}

/*Animations*/
.neons {
   margin-top: 3rem;
   text-align: center;
}

.neons h1 {
  font-size: 8rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
     from {
      color: #A47C4A;
      text-shadow: 0 0 10px #d5bea2, 0 0 20px #d5bea2, 0 0 30px #d5bea2, 0 0 40px #d5bea2;
    /*text-shadow: 0 0 10px #d5bea2, 0 0 20px #d5bea2, 0 0 30px #d5bea2, 0 0 40px #d5bea2, 0 0 50px #d5bea2, 0 0 60px #d5bea2, 0 0 70px #d5bea2, 0 0 90px #d5bea2;*/
  }
  
  to {
     color: #87816E;
     /*text-shadow: 0 0 20px #d5bea2, 0 0 30px #d5bea2, 0 0 40px #d5bea2, 0 0 50px #d5bea2;*/
    text-shadow: 0 0 20px #d5bea2, 0 0 30px #d5bea2, 0 0 40px #d5bea2, 0 0 50px #d5bea2, 0 0 60px #d5bea2, 0 0 70px #d5bea2, 0 0 80px #d5bea2, 0 1 90px #d5bea2;
  }
}
#pulse h2 {
  font-size: 30px;
  color: #989E8C;
  text-shadow: 0 0 2px #d5bea2;
  padding-top: 30px;
}
.pulsing h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  -webkit-animation: pulsing 2s linear infinite alternate;
  -moz-animation: pulsing 1s linear infinite alternate;
  animation: pulsing 1s linear infinite alternate;
}
@-webkit-keyframes pulsing {
  from {
    font-size: 30px;
  }
  to {
    font-size: 35px;
  }
}

@media (max-width: 425px) {
  .headline{
    padding-bottom: 55px;
  }
.para1 {
    padding-top: 55px;
  }
.leftThumb{
  margin-right: 0px;
}
.thumbs {
    padding-bottom: 0px;
  }
.projButton {
    align-content: center;
    margin-bottom: 35px;
  }
}