/*
Color Pallette
Dark Khaki: #A47C4A rgba(164, 124, 74, 1)
Rosy Brown : #C2BB9D rgba(194, 187, 157, 1)
Dark Olive Green: #3F322A rgba(63, 50, 42, 1)
Gray: #87816E rgba(135, 129, 110, 1)
Dark Sea Green: #989E8C rgba(152, 158, 140, 1)

Fonts
font-family: 'Abel', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body {
	background-color: #3F322A;
	/*background-image: url('./images/sprinkles.png');*/
	color: #A47C4A;
	padding-top: 60px;
	font-family: 'Dosis', sans-serif;
}
.ptags {
	font-family: 'Montserrat', sans-serif;
	color: #C2BB9D;
}
.about .projects .contact{
	display: none;
}


body {
   display: flex;
   justify-content: center;
   align-items: center;
}

.neons {
   margin-top: 6rem;
   text-align: center;
}

.neons h4 {
  font-size: 5rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #A47C4A;
    text-shadow: 0 0 10px #d5bea2, 0 0 20px #d5bea2, 0 0 30px #d5bea2, 0 0 40px #d5bea2, 0 0 50px #d5bea2, 0 0 60px #d5bea2, 0 0 70px #d5bea2, 0 0 90px #d5bea2;
  }
  
  to {
     color: #87816E;
    text-shadow: 0 0 20px #d5bea2, 0 0 30px #d5bea2, 0 0 40px #d5bea2, 0 0 50px #d5bea2, 0 0 60px #d5bea2, 0 0 70px #d5bea2, 0 0 80px #d5bea2, 0 1 90px #d5bea2;
  }
}

